<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>BucketList</title>
<meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/icomoon-social.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="css/main.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!-- JS Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js" type="text/javascript"></script>
		<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.min.js"></script>
    	<script src="js/angular/ItemDetails.js"></script>
		
</head>
<body>
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


	<!-- Navigation & Logo-->
	<!-- Navigation & Logo-->
        <div class="mainmenu-wrapper" >
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="bucketList.html"><b>3 items</b></a></li>
							<li>
								<div class="dropdown choose-country">
									<a class="#" data-toggle="dropdown" href="#"><img src="img/flags/us.png" alt="United States"> US</a>
									<ul class="dropdown-menu" role="menu">										
										<li role="menuitem"><a href="#"><img src="img/flags/de.png" alt="Germany"> DE</a></li>
										<li role="menuitem"><a href="#"><img src="img/flags/es.png" alt="Spain"> ES</a></li>
									</ul>
								</div>
							</li>
			        		
			        	</ul>
					</div>
		        </div>
		        <div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="HomePage.html"><img
								src="img/bucketlist-logo.jpg" alt="Bucket List"> </a>
						</div>
						<div id="navbar1" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="HomePage.html">Home</a></li>
								<li><a href="group.html">Groups</a></li>
								<li><a href="bucketList.html">My Lists</a></li>
							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
					<!--/.container-fluid -->
				</nav>
			</div>
			</div>
		</div>

	<!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Product Details</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container" ng-app="ItemApp" ng-cloak ng-controller="ItemController">
			<div class="row">
				<!-- Product Image & Available Colors -->
				<div class="col-sm-6">
					<div class="product-image-large">
						<img src="img/product3.jpg" alt="Item Name">
					</div>
					<div class="colors">
						<span class="color-white"></span> <span class="color-black"></span>
						<span class="color-blue"></span> <span class="color-orange"></span>
						<span class="color-green"></span>
					</div>
				</div>
				<!-- End Product Image & Available Colors -->
				<!-- Product Summary & Options -->
				<div class="col-sm-6 product-details">
					<h4 ng-cloak >{{item.itemName}}</h4>
					<div ng-cloak class="price">
						${{item.price}}
					</div>
					<h5>Quick Overview</h5>
					<p>Morbi eleifend congue elit nec sagittis. Praesent aliquam
						lobortis tellus, nec consequat massa ornare vitae. Ut fermentum
						justo vel venenatis eleifend. Fusce id magna eros.</p>
					<table class="shop-item-selections">
						<!-- Color Selector -->
						<tr>
							<td><b>Color:</b></td>
							<td>
								<div class="dropdown choose-item-color">
									<a class="btn btn-sm btn-grey" data-toggle="dropdown" href="#"><span
										class="color-orange"></span> Orange <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#"><span
												class="color-white"></span> White</a></li>
										<li role="menuitem"><a href="#"><span
												class="color-black"></span> Black</a></li>
										<li role="menuitem"><a href="#"><span
												class="color-blue"></span> Blue</a></li>
										<li role="menuitem"><a href="#"><span
												class="color-orange"></span> Orange</a></li>
										<li role="menuitem"><a href="#"><span
												class="color-green"></span> Green</a></li>
									</ul>
								</div>
							</td>
						</tr>
						<!-- Size Selector -->
						<tr>
							<td><b>Group:</b></td>
							<td>
								<div class="dropdown"  >
								<!--	<a class="btn btn-sm btn-grey" data-toggle="dropdown"  ng-model="bucket.userGroupId" href="#">XXL
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu"  >
										<li role="menuitem"><a href="#">XS</a></li>
										<li role="menuitem"><a href="#">S</a></li>
										<li role="menuitem"><a href="#">M</a></li>
										<li role="menuitem"><a href="#">L</a></li>
										<li role="menuitem"><a href="#">XXL</a></li>
									</ul> -->
									
									
										<select  ng-model="bucket.userGroupId">
										  <option ng-repeat="group in myGroups" value="{{group.groupId}}">{{group.groupName}}</option>
										</select><br>
								</div>
							</td>
						</tr>
						<!-- Quantity -->
						<tr>
							<td><b>Quantity:</b></td>
							<td><input type="text" ng-clock ng-model="bucket.itemQty"
								class="form-control input-sm input-micro" value="{{bucket.itemQty}}"></td>
						</tr>
						<!-- Add to Bucket Button -->
						<tr>
							<td>&nbsp;</td>
							<td    >
							<a  ng-click="addToBucket( bucket,item.itemId )" class="btn btn"><i class="icon-shopping-cart icon-white">
							
								</i    > Add to Bucket</a></td>
								
						</tr>
					</table>
					
				</div>
				<!-- End Product Summary & Options -->

				<!-- Full Description & Specification -->
				<div class="col-sm-12">
					<div class="tabbable">
						<!-- Tabs -->
						<ul class="nav nav-tabs product-details-nav">
							<li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
							<li><a href="#tab2" data-toggle="tab">Specification</a></li>
						</ul>
						<!-- Tab Content (Full Description) -->
						<div class="tab-content product-detail-info">
							<div class="tab-pane active" id="tab1">
								<h4>Product Description</h4>
								<p>Donec hendrerit massa metus, a ultrices elit iaculis eu.
									Pellentesque ullamcorper augue lacus. Phasellus et est quis
									diam iaculis fringilla id nec sapien. Sed tempor ornare felis,
									non vulputate dolor. Etiam ornare diam vitae ligula malesuada
									tempor. Vestibulum nec odio vel libero ullamcorper euismod et
									in sapien. Suspendisse potenti.</p>
								<h4>Product Highlights</h4>
								<ul>
									<li>Nullam dictum augue nec iaculis rhoncus. Aenean
										lobortis fringilla orci, vitae varius purus eleifend vitae.</li>
									<li>Nunc ornare, dolor a ultrices ultricies, magna dolor
										convallis enim, sed volutpat quam sem sed tellus.</li>
									<li>Aliquam malesuada cursus urna a rutrum. Ut ultricies
										facilisis suscipit.</li>
									<li>Duis a magna iaculis, aliquam metus in, luctus eros.</li>
									<li>Aenean nisi nibh, imperdiet sit amet eleifend et,
										gravida vitae sem.</li>
									<li>Donec quis nisi congue, ultricies massa ut, bibendum
										velit.</li>
								</ul>
								<h4>Usage Information</h4>
								<p>Donec hendrerit massa metus, a ultrices elit iaculis eu.
									Pellentesque ullamcorper augue lacus. Phasellus et est quis
									diam iaculis fringilla id nec sapien. Sed tempor ornare felis,
									non vulputate dolor. Etiam ornare diam vitae ligula malesuada
									tempor. Vestibulum nec odio vel libero ullamcorper euismod et
									in sapien. Suspendisse potenti.</p>
							</div>
							<!-- Tab Content (Specification) -->
							<div class="tab-pane" id="tab2">
								<table>
									<tr>
										<td>Total sensor Pixels (megapixels)</td>
										<td>Approx. 16.7</td>
									</tr>
									<tr>
										<td>Effective Pixels (megapixels)</td>
										<td>Approx. 16.1</td>
									</tr>
									<tr>
										<td>Automatic White Balance</td>
										<td>YES</td>
									</tr>
									<tr>
										<td>White balance: preset selection</td>
										<td>Daylight, Shade, Cloudy, Incandescent, Fluorescent,
											Flash</td>
									</tr>
									<tr>
										<td>White balance: custom setting</td>
										<td>YES</td>
									</tr>
									<tr>
										<td>White balance: types of color temperature</td>
										<td>YES (G7 to M7,15-step) (A7 to B7,15-step)</td>
									</tr>
									<tr>
										<td>White balance bracketing</td>
										<td>NO</td>
									</tr>
									<tr>
										<td>ISO Sensitivity Setting</td>
										<td>ISO100 - 25600 equivalent</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- End Full Description & Specification -->
			</div>
		</div>
	</div>


	<!-- Javascripts -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="js/jquery-1.9.1.min.js"><\/script>')
	</script>
	<script src="js/bootstrap.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jquery.sequence-min.js"></script>
	<script src="js/jquery.bxslider.js"></script>
	<script src="js/main-menu.js"></script>
	<script src="js/template.js"></script>

</body>
</html>